{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    {% if user.is_authenticated %}
        <div class="jumbotron text-center">
            <h1 class="display-4">¡Bienvenid@, {{ user.usuario.nombres }}!</h1>
            <p class="lead">
                {% if user.usuario.tipo_usuario == 'arrendador' %}
                    Como arrendador, puedes agregar nuevos inmuebles o modificar los actuales. También puedes gestionar las solicitudes de arriendo.
                {% elif user.usuario.tipo_usuario == 'arrendatario' %}
                    Como arrendatario... ¡ya puedes comenzar a buscar un inmueble!
                {% endif %}
            </p>
            <hr class="my-4">
            {% if user.usuario.tipo_usuario == 'arrendador' %}
                <a class="btn btn-primary" href="{% url 'agregar_inmueble' %}" type="button">Agregar nuevos inmuebles</a>
                <a class="btn btn-secondary" href="{% url 'mis_inmuebles' %}" type="button">Ver todos los inmuebles</a>
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <a class="btn btn-tertiary btn-lg" href="{% url 'listar_solicitudes_arriendo' %}" type="button">Ver Solicitudes de Arriendo</a>
                </div>
            {% elif user.usuario.tipo_usuario == 'arrendatario' %}
                <a class="btn btn-primary btn-lg" href="{% url 'listar_inmuebles' %}" type="button">Buscar inmuebles</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'profile' %}" type="button">Ver tu perfil</a>
            {% endif %}
        </div>
    {% else %}
        <div class="jumbotron text-center">
            <h1 class="display-4">¡Bienvenido a tu sitio web de Gestión de Inmuebles!</h1>
            <p class="lead">Para comenzar, <a class="btn btn-primary" href="{% url 'login' %}" type="button">Inicia Sesión</a> para acceder a todas las funcionalidades.</p>
            <hr class="my-4">
            <p>Si aún no tienes una cuenta, ¿qué esperas?</p>
            <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" type="button">REGÍSTRATE AQUÍ</a>
        </div>
    {% endif %}
</div>
{% endblock %}
