{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <h2>Mis Inmuebles</h2>
    <a href="{% url 'agregar_inmueble' %}" class="btn btn-success mb-4">Agregar Nuevo Inmueble</a>
    <div class="row">
        {% for inmueble in inmuebles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ inmueble.imagen_url }}" class="card-img-top" alt="{{ inmueble.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ inmueble.nombre }}</h5>
                    <p class="card-text">{{ inmueble.descripcion }}</p>
                    <p class="card-text">{{ inmueble.direccion }}</p>
                    <p class="card-text">{{ inmueble.comuna }}, {{ inmueble.region }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">m2 construidos: {{ inmueble.m2_construidos }}</li>
                        <li class="list-group-item">m2 totales: {{ inmueble.m2_totales }}</li>
                        <li class="list-group-item">Habitaciones: {{ inmueble.cantidad_habitaciones }}</li>
                        <li class="list-group-item">Baños: {{ inmueble.cantidad_banos }}</li>
                        <li class="list-group-item">Estacionamientos: {{ inmueble.cantidad_estacionamientos }}</li>
                        <li class="list-group-item">Tipo de inmueble: {{ inmueble.tipo_inmueble }}</li>
                        <li class="list-group-item">Publicado por: {{ inmueble.arrendador }}</li>
                    </ul>
                    <div class="card-footer"><strong>Precio mensual:</strong> ${{ inmueble.precio_mensual }}</div>
                    <a href="{% url 'editar_inmueble' inmueble.pk %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'borrar_inmueble' inmueble.pk %}" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
