{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Perfil de {{ usuario.nombres }} {{ usuario.apellidos }}</h2>
    <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
    <p><strong>Teléfono:</strong> {{ usuario.telefono_personal }}</p>
    <p><strong>RUT:</strong> {{ usuario.rut }}</p>
    <p><strong>Tipo de Usuario:</strong> {{ usuario.get_tipo_usuario_display }}</p>

    <form method="POST">
        {% csrf_token %}
        <div class="col-12 text-center">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Actualizar datos</a>
    </form>
</div>
</div>
{% endblock %}